@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap');

// fonts
$roboto-slab: 'Roboto Slab', serif;

// colors
$first-color: #ececec;
$second-color: #9fd3c7;
$third-color: #385170;
$fourth-color: #142d4c;

$alert-color: #d9534f;

// sizes
$xsm: 374px; // For extra small
$sm: 576px; // For small
$md: 768px; // For medium
$lg: 992px; // For large
$xl: 1200px; // For extra larger
$xxl: 1400px; // For larger
